html,
body {
  background-image: url(./../media/images/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white-1);
  z-index: 1;
  opacity: 1;
}

.main-container {
  display: block;
  position: relative;
  width: 96vw;
  min-height: 94vh;
  background-color: var(--color-blue-1);
  z-index: 10;
  margin: 15px auto;
  border: 1px solid #000;
  border-radius: 20px;
}

.main-header,
.main-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-header div {
  margin-left: -100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-header div img {
  width: 160px;
  height: 160px;
}

.main-header div h1 {
  color: var(--color-yellow-1);
  font-size: 3rem;
  font-weight: 700;
}

.main-header #btn-back {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 10;
}

.front-section {
  position: relative;
}

.front-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.front-container h1 {
  color: var(--color-yellow-1);
  font-size: 2.8rem;
  font-weight: 400;
  padding: 0;
  margin: 20px 0 10px 0;
}

.front-container .container {
  list-style: none;
  padding-left: 0;
  margin-left: -140px;
}

.front-container li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
}

.front-container li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

.front-container a {
  font-size: 2.4rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  padding-left: 10px;
  font-weight: lighter;
  cursor: pointer;
}

.z {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.z button {
  background-color: var(--color-blue-2);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 14px 24px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
}

#btn-front-next {
  margin-right: 50px;
  margin-bottom: 5px;
}

.pop-up-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  width: 100%;
  height: 100%;
}

.pop-up-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-blue-2);
  padding: 10px 40px;
  border: 1px solid #000;
  width: 60%;
}

.pop-up-overlay.active {
  display: block;
}

.pop-up-container.active {
  display: block;
}

.pop-up-container h1 {
  margin: 10px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.pop-up-container ul {
  list-style: none;
  padding-left: 0;
}

.pop-up-container li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 2rem;
  color: #fff;
  font-weight: 100;
}

.pop-up-container li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

/* ============================================================================================================================================= */

.fill-up-form {
  display: none;
  margin: 10px auto;
  padding: 10px 30px;
}

.fill-up-form h1 {
  font-size: 2rem;
  font-weight: 100;
}

.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.input-field label {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
  width: 12%;
}

.input-field input,
.input-field select {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  /* width: 100%; */
}

.input-field .short-inp {
  width: calc(21.33% - 10px);
}

.input-field .mid-inp {
  width: calc(38% - 10px);
}

.input-field .full-inp {
  width: calc(88% - 10px);
}

/* ============================================================================================================================================= */

.family-members-header {
  display: grid;
  grid-template-columns: 15% 12% 7% 11% 10% 15% 13% 10%;
  gap: 1%;
  place-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  background-color: var(--color-blue-2);
  text-align: center;
}

.family-members-list {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 2px;
}

.family-members-item {
  display: grid;
  grid-template-columns: 15% 12% 7% 11% 10% 15% 13% 10%;
  gap: 1%;
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.family-members-item button {
  position: absolute;
  top: 25%;
  right: -30px;
}

.family-members-item input {
  font-size: 1rem;
  padding: 5px 2px;
  border-radius: 5px;
}

#btn-add-member {
  background-color: var(--color-blue-2);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  margin-top: 5px;
}

/* ============================================================================================================================================= */

.radio-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.radio-group p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
  width: 30%;
}

.radio-group label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  margin-right: 20px;
}

/* ============================================================================================================================================= */

.textarea-group {
  display: block;
  margin: 20px 0;
}

.textarea-group label {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
}

.textarea-group textarea {
  resize: none;
  height: 100px;
  width: 100%;
  font-size: 1.3rem;
  pad: 10px;
  border-radius: 10px;
  border: 2px solid #000;
}

/* ============================================================================================================================================= */

.prepare-section {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  place-items: center;
  height: 50%;
  width: 100%;
}

.prepare-section h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 70%;
  color: #fff;
}

.prepare-section button {
  margin: 10px 40px 10px 0;
}

/* ============================================================================================================================================= */

.successful-section {
  display: none;
  place-items: center;
  height: 100%;
  width: 100%;
}

.successful-section img {
  cursor: pointer;
}

.successful-section h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.successful-section p {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  width: 70%;
}
