.main-container {
  margin: 0 10vw 20px 10vw;
}

.main-container img {
  display: block;
  margin: auto;
}

.main-container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-blue-2);
  margin-top: 40px;
}

.main-container h2 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--color-blue-2);
  margin-top: 40px;
}

.main-container p {
  /* text-indent: 3rem; */
  font-size: 1.5rem;
}

.main-container .aics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue-2);
  margin: 20px 0 20px 70px;
  border: 2px solid #000;
}

.main-container .aics-container img {
  height: 120px;
  width: 120px;
  margin: 10px 0 10px 50px;
}

.main-container .aics-container h3 {
  color: var(--color-yellow-3);
  padding: 20px 50px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 40px 0 0 40px;
  width: 70%;
  font-size: 2rem;
}
