.main-container {
  margin: 0 10vw 20px 10vw;
  position: relative;
}

.main-container img {
  display: block;
  margin: auto;
  width: 100%;
}

#question-form {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question-form input {
  width: 40vw;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.3rem;
}

#question-form input::placeholder {
  color: #fff;
}

#question-form button {
  background-color: var(--color-gray-1);
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 1.3rem;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
}
